<!-- Body -->
<div class="container mt-3">
    <form action="/admin/edititems/{{listITEM.ITEM_ID}}?action=PUT" method="post" class="needs-validation" novalidate>
        <div class="accordion" id="NewItemAccordion">
            <div class="accordion-item">
                <!-- MAIN ITEM INFO -->
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        بيانات الصنف الأساسية
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#NewItemAccordion">
                    <div class="accordion-body">
                        <!-- ITEM Barcode -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="itemBarcode-addon">معرف الصنف الجديد (الباركود)</span>
                            <input name="itemBarcode" type="number" class="form-control" placeholder="مثال: 1234567890"
                                aria-label="itemBarcode" aria-describedby="itemBarcode-addon"
                                value="{{listITEM.ITEM_BARCODE}}" required>
                            <div class="invalid-feedback">
                                من فضلك أدخل معرف صنف (باركود) صحيح
                            </div>
                        </div>
                        <!-- ITEM NAME -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="itemName-addon">إسم الصنف الجديد</span>
                            <input name="itemName" type="text" class="form-control" placeholder="مثال: بانادول"
                                aria-label="itemName" aria-describedby="itemName-addon" value="{{listITEM.ITEM_NAME}}"
                                required>
                            <div class="invalid-feedback">
                                من فضلك أدخل إسم صنف صحيح
                            </div>
                        </div>
                        <!-- ITEM PRICE -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="itemPrice-addon">سعر بيع الصنف الجديد</span>
                            <input name="itemPrice" type="number" step="0.001" class="form-control"
                                placeholder="مثال: 30.6" aria-label="itemPrice" aria-describedby="itemPrice-addon"
                                value="{{listITEM.ITEM_RETAIL_PRICE}}" required>
                            <span class="input-group-text" id="itemPrice-addon">جنيه مصري</span>
                            <div class="invalid-feedback">
                                من فضلك أدخل سعر الصنف بطريقة صحيحة
                            </div>
                        </div>
                        <!-- ITEM VAT% -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="VATPercentage-addon">النسبة المئوية لضريبة القيمة
                                المضافة</span>
                            <input name="VATPercentage" type="number" step="0.001" class="form-control"
                                placeholder="مثال: 15%" aria-label="VATPercentage"
                                aria-describedby="VATPercentage-addon" value="" required>
                            <span class="input-group-text" id="VATPercentage-addon">%</span>
                            <div class="invalid-feedback">
                                قيمة خاطئة للنسبة
                            </div>
                        </div>
                        <!-- ITEM VAT VALUE -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="VATvalue-addon">قيمة الضريبة</span>
                            <input name="VATvalue" type="number" step="0.001" class="form-control"
                                placeholder="مثال: 4.59" aria-label="VATvalue" aria-describedby="VATvalue-addon"
                                value="{{listITEM.ITEM_VAT}}" required>
                            <span class="input-group-text" id="VATvalue-addon">جنيه مصري</span>
                            <div class="invalid-feedback">
                                قيمة خاطئة لقيمة الضريبة
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <!-- ADDITIONAL ITEM INFO -->
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        بيانات الصنف الإضافية
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#NewItemAccordion">
                    <div class="accordion-body">
                        <!-- UNITS OF ITEMS -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="itemUits-addon">عدد الوحدات داخل الصنف</span>
                            <input name="itemUits" type="number" class="form-control" placeholder="مثال: 3"
                                aria-label="itemUits" aria-describedby="itemUits-addon"
                                value="{{listITEM.PARTS_PER_ITEM}}" required>
                            <div class="invalid-feedback">
                                من فضلك أدخل عدد صحيح
                            </div>
                        </div>
                        <!-- PARTS OF UNIT -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="itemParts-addon">عدد الأجزاء داخل الوحدة</span>
                            <input name="itemParts" type="number" class="form-control" placeholder="مثال: 10"
                                aria-label="itemParts" aria-describedby="itemParts-addon"
                                value="{{listITEM.NUMBERS_PER_PART}}" required>
                            <div class="invalid-feedback">
                                من فضلك أدخل عدد أجزاء صحيح
                            </div>
                        </div>
                        <!-- CUSTOMER ACQUIRED POITS WHEN PURCHASED -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="AcquiredPoints-addon">عدد النقاط المكتسبة عند
                                الشراء</span>
                            <input name="AcquiredPoints" type="number" step="0.001" class="form-control"
                                placeholder="مثال: 1.175" aria-label="AcquiredPoints"
                                aria-describedby="AcquiredPoints-addon" value="{{listITEM.CUSTOMER_REWARDED_POINTS}}"
                                required>
                            <div class="invalid-feedback">
                                من فضلك أدخل رقم صحيح
                            </div>
                        </div>
                        <!-- USER ACQUIRED POITS WHEN PURCHASED -->
                        <div class="input-group mb-3 has-validation">
                            <span class="input-group-text" id="UserAcquiredPoints-addon">عدد النقاط المكتسبة عند
                                الشراء</span>
                            <input name="UserAcquiredPoints" type="number" step="0.001" class="form-control" value="1"
                                aria-label="UserAcquiredPoints" aria-describedby="UserAcquiredPoints-addon"
                                value="{{listITEM.USER_ACQUIRED_POINTS}}" readonly>
                            <div class="invalid-feedback">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <!-- EXTEDED ITEM INFO -->
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            بيانات ملحقة
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#NewItemAccordion">
                        <div class="accordion-body">
                            <!-- CATALOG RELATED -->
                            <div class="input-group mb-3 has-validation">
                                <label class="input-group-text" for="CatalogSelector">تابع لكاتالوج</label>
                                <select name="CatalogSelector" class="form-select" id="CatalogSelector" required>
                                    {{#select listITEM.CATALOG_ID}}
                                    {{#each editcatalogs}}
                                    <option value="{{CATALOG_ID}}">{{CATALOG_NAME}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>

                                <div class="invalid-feedback">
                                    من فضلك قم بإختيار الكاتالوج بشكل صحيح
                                </div>
                            </div>
                            <!-- SECTION RELATED -->
                            <div class="input-group mb-3 has-validation">
                                <label class="input-group-text" for="SectionSelector">تابع لقسم</label>
                                <select name="SectionSelector" class="form-select" id="SectionSelector" required>
                                    {{#select edititems.section_related}}
                                    {{#each editsections}}
                                    <option value="{{_id}}">{{section_name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                                <div class="invalid-feedback">
                                    من فضلك قم بإختيار القسم بشكل صحيح
                                </div>
                            </div>
                            <!-- BRAD RELATED -->
                            <div class="input-group mb-3 has-validation">
                                <label class="input-group-text" for="BrandSelector">تابع لماركة</label>
                                <select name="BrandSelector" class="form-select" id="BrandSelector" required>
                                    {{#select edititems.brand_related}}
                                    {{#each editbrands}}
                                    <option value="{{_id}}">{{brand_name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                                <div class="invalid-feedback">
                                    من فضلك قم بإختيار الماركة بشكل صحيح
                                </div>
                            </div>
                            <!-- AC RELATED -->
                            <div class="input-group mb-3 has-validation">
                                <label class="input-group-text" for="ACSelector">يحتوي علي مادة</label>
                                <select name="ACSelector" class="form-select" id="ACSelector" required>
                                    <option>اختر المادة...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="invalid-feedback">
                                    من فضلك قم بإختيار المادة الفعالة بشكل صحيح
                                </div>
                            </div>
                            <!-- REQUIRE PRESCRIPTION? -->

                            <div class="form-check form-switch">
                                <input name="PrescriptionSwitcher" class="form-check-input" type="checkbox"
                                    role="switch" value="{{edititems.require_prescription}}" id="PrescriptionSwitcher">
                                <label class="form-check-label" for="PrescriptionSwitcher">هل يتطلب الصنف وصفة
                                    طبية؟</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto my-2 py-2 text-center border">
            <button type="submit" class="btn btn-warning" id="UpdateItem">إعتماد التعديلات</button>

        </div>
    </form>
</div>