<!-- Body -->
<div class="container mt-3">
    <!-- Catalog Table -->
    <table class="table table-hover border text-center">
        <thead>
            <tr>
                <th scope="col">اسم الكاتالوج</th>
                <th scope="col">عدد الأصناف التابعة للكاتالوج</th>
                <th scope="col">عمليات علي الكاتالوج</th>
            </tr>
        </thead>
        <tbody class="refreshCatalog">
            {{#each getcatalogs}}
            <tr>
                <td>{{catalog_name}}</td>
                <td>{عدد الأصناف التابعة للكاتالوج}</td>
                <td class="d-flex justify-content-center">
                    <a href="/admin/editcatalogs/{{_id}}" class="btn btn-warning ms-2" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="تعديل بيانات الكاتالوج"><i
                            class="bi bi-pencil"></i></a>
                    <form action="/admin/deletecatalogs/{{_id}}?action=DELETE" method="post">
                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-html="true" data-bs-title="حذف الكاتالوج <b>- لا يمكن الرجوع في هذا الإجراء</b>"><i
                                class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <hr>
    <div class="alert alert-dark" role="alert">
        إضافة كاتالوج جديد
    </div>
    <div class="container">
        <div class="row border pt-3 pb-3">
            <div class="col">
                <form action="/admin/listallcatalogs" method="post" class="needs-validation" novalidate>
                    <!-- CATALOG NAME -->
                    <div class="input-group mb-3 has-validation">
                        <span class="input-group-text" id="catalogName-addon">إسم الصنف الجديد</span>
                        <input name="catalogName" id="catalogName" value="{{currentcatalog.catalog_name}}" type="text"
                            class="form-control" placeholder="مثال: أقراص" aria-label="catalogName"
                            aria-describedby="catalogName-addon" required>
                        <input name="catalogID" id="catalogID" value="{{currentcatalog._id}}" type="hidden"
                            class="form-control" aria-label="catalogID" aria-describedby="catalogID-addon" required>
                        <div class="invalid-feedback">
                            من فضلك أدخل إسم كاتالوج صحيح
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-warning" id="catalogUpdater" type="submit">تعديل بيانات
                            الكاتالوج</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>